body { 
    padding: 0; 
    font-family: Verdana, Arial, sans-serif;
    background-color: #353035;
}

#wrapper {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
}

h1 {
   font-family: "Georgia";
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "Georgia", serif;
    font-size: 40px;
    text-align: center;
    color: #F8F8F8;
    background-color: #555;
    margin: 0;
    margin-bottom: 1px;
    padding: 1px;
}

h3 {
    font-family: "Georgia";
    font-size: 20px;
    text-align: right;
    color: #555;
    background-color: #DDD;
    margin: 10px;
    margin-top: 80px;
    padding: 1px;
}

#slider {
    width: 760px;
    margin: 0 auto;
    position: relative;
}

.scroll {
    height: 100%;
    width: 760px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: #F8F8F8 url(assets/img/content_pane-gradient.gif) repeat-x scroll left bottom;
}

.scrollContainer div.panel {
    padding: 20px;
    height: 330px;
    width: 720px;
    font-size: 15px;
}

#shade {
    background: #555;
    height: 20px;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
}

ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
    padding: 2px;
    color: #000;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #f6f6f6;
}

ul.navigation a.selected {
    background-color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 395px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 20px;
}

.scrollButtons.right {
    right: 20px;
}

.hide {
    display: none;
}
